.container {
	border: 2px solid black;
}

.priceBtn {
	padding: 10px;
	border: none;
	background-color: red;
}
.priceBtn2 {
	composes: priceBtn;
	color: white;
}

.green {
	background-color: green;
}
